{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}
  {{ super() }}
  <link rel="icon" href="https://avatars.githubusercontent.com/u/77287864?s=200&v=4"/>
  <!-- Google Site Verification Search Console -deadbyte -->
  <meta name="google-site-verification" content="pg26rs-EELwcFEnEgD5uQqtX1ZTdRSD7Mp3O-4CthDs"/>
{% endblock %}

{% block announce %}
  ExpressLRS v3.3.0 is out now! Check it out
  <a href="https://github.com/ExpressLRS/ExpressLRS/releases/tag/3.3.0">on GitHub.</a>
{% endblock %}
