.mdx-container {
  padding-top: 1rem;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), #9ec670 99%, var(--md-default-bg-color) 99%);
}

[data-md-color-scheme="slate"] .mdx-container {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(232, 15%, 21%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), #9ec670 99%, var(--md-default-bg-color) 99%);
}

.mdx-hero {
  margin: 0 0.8rem;
  color: var(--md-primary-bg-color);
}

.mdx-hero h1 {
  margin-bottom: 1rem;
  color: currentColor;
  font-weight: 700;
}

@media screen and (max-width: 29.9375em) {
  .mdx-hero h1 {
    font-size: 1.4rem;
  }
}

.mdx-hero__content {
  padding-bottom: 6rem;
}

@media screen and (min-width: 60em) {
  .mdx-hero {
    display: flex;
    align-items: stretch;
  }

  .mdx-hero__content {
    max-width: 21.5rem;
    margin-top: 3rem;
    padding-bottom: 14vw;
  }

  .mdx-hero__image {
    order: 1;
    width: 35.5rem;
    transform: translateX(4rem);
  }
}

@media screen and (min-width: 76.25em) {
  .mdx-hero__image {
    transform: translateX(6rem);
  }
}

.mdx-hero .md-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: var(--md-primary-bg-color);
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  color: var(--md-accent-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}

.mdx-hero .md-button--primary {
  color: #9fc76f;
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
}

/*
  Logotype
 */

.md-header .md-header__button.md-logo img {
  width: 1.8rem;
  height: 1.8rem;
}

.md-header__title {
  font-size: 1rem;
}

.md-announce { /* Hiding it for now */
  /*display: none; */
}

.md-version__current {
  line-height: 2.4rem;
}

.md-header__option, .md-search__form {
  margin-block-end: 0;
}

.greencheck {
  color: #00ff00;
}

.red-x {
  color: #ff0000
}

/* increase admonition font size */
.admonition, details {
  font-size: 0.75rem!important; /* default's 0.64rem */
}

.bp-input {
  color: #000;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
}

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  display: block!important;
  max-width: 245px;
  margin-left: auto;
  margin-right: auto;
}

.tabbed-labels>label{
  font-size: .8rem!important;
}