name: publish
on:
  push:
    branches:
      - master
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.MKDOCS_GIT_COMMITTERS_APIKEY }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest push
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python env
        uses: actions/setup-python@v5
        with:
          python-version: 3.9.16

      - name: Set up build cache
        uses: actions/cache/restore@v4
        with:
          key: docs-${{ hashfiles('.cache/**') }}
          path: .cache
          restore-keys: |
            docs-

      - name: Setup Github
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull
          git checkout master

      - name: Install Dependencies
        run: |
          make install-python-packages
          sudo apt-get install pngquant

      - name: Install MkDocs Insiders
        if: github.event.repository.fork == false
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: pip install --upgrade git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git@9.5.31-insiders-4.53.12

      - name: Deploy Release Version
        run: |
          mkdocs gh-deploy --force --config-file mkdocs-insiders.yml

      - name: Deploy to Server
        run: |
          git checkout gh-pages
          git remote set-url --push origin https://actions:$GITHUB_TOKEN@github.com/ExpressLRS/Docs
          git push -f origin gh-pages

      - name: Save build cache
        uses: actions/cache/save@v4
        with:
          key: docs-${{ hashfiles('.cache/**') }}
          path: .cache
